@charset "utf-8";
/* CSS Document */
.fool
{
    -webkit-transform:rotate(-4deg);
}
      body{
        font-family:Microsoft YaHei;
      }

      .center
      {
    margin-left:auto;
        margin-right:auto;
        float:none;
        text-align:center;
      }
      #gotopbtn{   
        position:fixed;
        right:40px;
        bottom:40px;
      }

      #qr{
        margin-left:120px;
      }

.auth_form
{
  top:30%;
  box-shadow: 0 0 41px rgba(0, 0, 0, .3),0 4px 0 rgba(255, 255, 255, .8),0 5px 0 rgba(100, 100, 100, 0.4),0 8px 0 rgba(255, 255, 255, .4),inset 0 0 5px rgba(255, 255, 255, .1);
  border-radius:5px;
  margin-top:20%;
  margin-left:335px;
  padding:10px 20px 20px 20px;
  background:#fff;
  font-size:16px;
  width:220px;

}

.auth_form form
{
  margin:0px;
}
.header {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  background: #fff url(../img/header_bg1.png) 0 0 repeat-x;
  border-bottom: solid 1px #2BB3EC;
}
.inner {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.header h1 {
  letter-spacing: -1px;
  font-size: 54px;
  color: #fff;
  vertical-align:bottom;
  line-height: 1;
  margin-bottom: 0.1em;
}

.header h2 {
  font-size: 32px;
  color: #9ddcff;
  font-weight: normal;
  line-height: 1.3;
  width: 740px;
  letter-spacing: 0;
}

.footer {
position: relative;
	margin-top: -80px; /* footer�߶ȵĸ�ֵ */
	height: 60px;
	clear:both;
}

.uInfo{width:75%; margin-top:15px;padding:10px; padding-left:0px;}
h3{margin:10px 0;}
#level{width:100%; height:20px; border:1px solid #ccc; cursor:pointer;border-radius:3px;border-style:inset;}
#le{height:20px; width:0;display:block; background:#2E64FE; font-size:0;border-top-left-radius:3px;border-bottom-left-radius:3px; background:-webkit-gradient(linear, left center, right center, from(#2ECCFA), to(#2E64FE));}
label{margin-left:10px;}
#showTime{display:none; color:#424242;margin-top:-5px;  font-size:10px;}

/**admin**/	
#editor {
max-height: 250px;
height: 250px;
background-color: white;
border-collapse: separate;
border: 1px solid rgb(204, 204, 204);
padding: 4px;
box-sizing: content-box;
-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
border-top-left-radius: 3px;
overflow: scroll;
outline: none;
}
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}
/**!/admin**/